<style>
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      	margin: 0;
      	padding: 0;
      	border: 0;
      	font-size: 100%;
      	font: inherit;
      	vertical-align: baseline;
      }
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #F8F8FF;
        line-height: 1.5;
      }
      #container {
        margin: 0 25px;
        padding: 0 10px;
        max-width: 400px;
        min-width: 100px;
      }
      .time p {
        margin-bottom: 0;
        text-align: right;
        margin-right: 40%;
      }
      .time {
        margin-left: 8%;
        line-height: 1;
        float:left;
        color: #615579;
        font-style: italic;
      }
      .time h2 {
        margin-top: 0;
        font-size: 40px;
        color: #0C0E29;
        font-style: normal;
      }
      .posts{
        width: 60%;
        margin-left: 25%;
        margin-top: 2%;
        padding: 1% 4% 4% 4%;
        background-color: #235665;
      }
      .posts h1 {
        border-bottom: 1px solid #0C0E29;
        padding-bottom: 2%;
        padding-top: ;
        color: #D3D3D3;
        font-size: 30px;
        margin-bottom: 3%;
      }
      .posts p{
        color: #F0F8FF;
        font-size: 20px;
      }
      .posts::before {
        content: '\25c0';
        width: 10px;
        font-size: 40px;
        margin-left: -85px;
        padding: 0;
        margin-top: -200px;
        color: #235665;
      }
      #timeline {
        margin: 30px 0 0 0;
        padding: 0;
        list-style:none;
        position: relative;
      }

      #timeline::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1%;
        background: #003432;
        left: 20%;
        margin-left: -10px;
      }
        .fa {
        margin-left: 129.5%;
        color: black;
        margin-top: -59%;
        background-color: white;
        width: 45%;
        border: 10px solid #003432;
        padding: 1px;
        padding-left: 10%;
        padding-right: 4%;
        padding-top: 3%;
        border-radius: 50%;
        position: relative;
      }
      /*
      body {
        font-family: 'Roboto', sans-serif;
      }
      .time p {
        margin-bottom: 0;
        text-align: right;
        margin-right: 40%;
      }
      .time {
        margin-left: 8%;
        line-height: 1;
        float:left;
        color: #615579;
        font-style: italic;
      }
      .time h2 {
        margin-top: 0;
        font-size: 40px;
        color: #0C0E29;
        font-style: normal;
      }
      .timeline {
        margin: 30px 0 0 0;
        padding: 0;
        list-style:none;
        position: relative;
      }
      .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1%;
        background: #003432;
        left: 20%;
        margin-left: -10px;
      }
      body p {
        font-size: 20px;
        font-family: sans-serif;
        line-height: 1.5;
        color: white;
      }
      li.light h1 {
        color: white;
      }
      li.light hr {
        color: white;
        border: 1px solid rgba(255,255,255,0.3);
      }
      li.dark h1 {
        color:white;
      }
      li.dark hr {
        color: white;
        border: 1px solid rgba(255,255,255,0.3);
      }
      header {
        margin: 2% 5% 5% 5%;;
        color: #3594CB;
        font-family: sans-serif;
      }
      .dark {
        background-color: #3594CB;
        border-radius: 4px;
        padding: 5%;
        margin-bottom: 5%;
      }
      .light {
        background-color: #6CBFEE;
        border-radius: 4px;
        padding: 5%;
        margin-bottom: 5%;
      }
      .light::before {
        content: '\25c0';
        width: 10px;
        font-size: 40px;
        margin-left: -85px;
        padding: 0;
        margin-top: -200px;
        color: #6CBFEE;
      }
      .dark::before {
        content: '\25c0';
        width: 10px;
        font-size: 40px;
        margin-left: -85px;
        padding: 0;
        margin-top: -200px;
        color: #3594CB;
      }
      .fa {
        margin-left: 129.5%;
        color: black;
        margin-top: -59%;
        background-color: white;
        width: 45%;
        border: 10px solid #003432;
        padding: 1px;
        padding-left: 10%;
        padding-right: 4%;
        padding-top: 3%;
        border-radius: 50%;
        position: relative;
      }
      .date {
        color: gray;
      }*/
  
